

<!doctype html>
<html>
<head>
<h1>UPCOMING EVENTS IN THE NEAR FUTURE</h1>
  <meta charset="utf-8">
</head>
<table bgcolor="blue" width="150%" border="5" cellspacing="2" cellpadding="8" bordercolor="#ff0000">
<h2>APRIL</h2>
<tr><td bgcolor="black" align="center">
<b>MONDAY</b></td>
<td bgcolor="black" align="center">
<b>TUESDAY</b></td>
<td bgcolor="black" align="center">
<b>WEDNSDAY</b></td>
<td bgcolor="black" align="center">
<b>THURSDAY</b></td>
<td bgcolor="black" align="center">
<b>FRIDAY</b></td>
<td bgcolor="black" align="center">
<b>SATURDAY</b></td>
<td bgcolor="black" align="center">
<b>SUNDAY</b></td>
</tr><tr>
<td width="75" height="60">
<b>1</b></td>
<td width="75" height="60">
<b>2</b></td>
<td width="75" height="60">
<b>3</b></td>
<td width="75" height="60">
<b>4</b></td>
<td width="75" height="60">
<b>5</b></td>
<td width="75" height="60">
<b>6</b></td>
<td width="75" height="60">
<b>7</b></td>
</tr><tr>
<td width="75" height="60">
<b>8</b></td>
<td width="75" height="60">
<b>9</b></td>
<td width="75" height="60">
<b>10</b></td>
<td width="75" height="60">
<b>11</b></td>
<td width="75" height="60">
<b>12</b></td>
<td width="75" height="60">
<b>13</b></td>
<td width="75" height="60">
<b>14</b></td>
</tr><tr>
<td width="75" height="60">
<b>15</b></td>
<td width="75" height="60">
<b>16</b></td>
<td width="75" height="60">
<b>17</b></td>
<td width="75" height="60">
<b>18</b></td>
<td width="75" height="60">
<b>19</b></td>
<td width="75" height="60">
<b>20</b></td>
<td width="75" height="60">
<b>21</b></td>
</tr><tr>
<td width="75" height="60">
<b>22</b></td>
<td width="75" height="60">
<b>23</b></td>
<td width="75" height="60">
<b>24</b></td>
<td width="75" height="60">
<b>25</b></td>
<td width="75" height="60">
<b>26</b></td>
<td width="75" height="60">
<b>27</b></td>
<td width="75" height="60">
<b>28</b></td>
</tr><tr>
<td width="75" height="60">
<b>29</b></td>
<td width="75" height="60">
<b>30</b></td>
<td width="75" height="60">
<b>31</b></td>
<td width="75" height="60">
<img src="clear.gif" width="1" height="1"></td>
<td width="75" height="60">
<img src="clear.gif" width="1" height="1"></td>
<td width="75" height="60">
<img src="clear.gif" width="1" height="1"></td>
<td width="75" height="60">
<img src="clear.gif" width="1" height="1"></td>
</tr></table>

<body>

</body>
</html>
